* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f8f9fb;
  --button-color: #ffffff;
  --border: #8d8e8f;
  --button-border: #17171b;
  --text-color: #333333;
}

section {
  padding: 50px 50px;
  background-color: var(--bg-color);
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.wrapper-highlight-container {
  margin-left: auto;
  margin-right: auto;
}

.highlight-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.highlight-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}

.highlight-heading__title {
  font-family: "Outfit", sans-serif;
  font-size: 80px;
  font-weight: 800;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
}

.highlight-heading__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  letter-spacing: 0.1em;
  text-align: center;
}

.highlight-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.highlight-grid::after {
  content: "";
  position: absolute;
  height: 60%;
  border-left: 1px solid var(--border);
}

.left-product__image,
.right-product__image {
  display: flex;
  align-items: center;
}

.hightlight__product-img {
  width: 98px;
  height: 339px;
}

.hightlight__product-img-xl {
  width: 159px;
  height: 500px;
}

.highlight-grid__left-product,
.highlight-grid__right-product {
  display: flex;
  height: 100%;
  gap: 50px;
}

.highlight__product-title {
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 30px;
  text-align: left;
}

span {
  color: var(--text-color);
}

.highlight__product-title-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.product-highlight-price {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  bottom: 0;
}

.product-highlight-price button {
  text-transform: uppercase;
  background-color: var(--button-color);
  border: 1px solid var(--button-border);
  border-radius: 3px;
  padding: 4px 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 23.99px;
}

.product-highlight-price .product-highlight__price {
  display: flex;
  gap: 6px;
}

.product-highlight__og-price {
  color: var(--text-color);
  text-decoration: line-through;
}

.product-highlight__offer-price {
  color: #eb1a1a;
  font-weight: 700;
}

.highlight__product-title-details > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.highlight__product-details {
  display: flex;
  gap: 10px;
  align-items: center;
}

.highlight__product-feature-icon {
  width: 30px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlight__product-details p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-align: left;
  color: var(--text-color);
}

.highlight__product-details span {
  font-size: 18px;
  font-weight: 700;
  line-height: 24.3px;
  text-align: left;
}

/* Mobile */
@media (max-width: 767px) {
  .highlight-container {
    width: 100%;
    gap: 0px;
  }
  .highlight-grid__left-product {
    grid-row: 2;
  }
  .highlight-grid__right-product {
    grid-row: 1;
  }
  .highlight-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 60px;
  }

  .highlight-grid::after {
    width: 70%;
    height: 1px;
    border-bottom: 1px solid var(--border);
  }
  section {
    padding: 20px;
  }
  .highlight-heading__title {
    font-size: 25px;
    line-height: 20px;
  }

  .highlight-heading__subtitle {
    font-size: 10px;
  }

  .hightlight__product-img {
    width: 70px;
    height: 339px;
  }

  .hightlight__product-img-xl {
    width: 70px;
    height: 500px;
  }

  .highlight-grid__left-product,
  .highlight-grid__right-product {
    gap: 15px;
  }

  .highlight__product-title {
    font-size: 16px;
  }
  .highlight__product-title-details > div {
    gap: 16px;
  }
  .highlight__product-title-details {
    padding-top: 25px;
    gap: 10px;
    height: 500px;
  }

  .product-highlight-price {
    gap: 16px;
  }

  .highlight__product-details p,
  .highlight__product-details span {
    font-size: 12px;
  }

  .highlight__product-feature-icon {
    width: 25px;
    height: 30px;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 992px) {
  .highlight-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 60px;
  }
  .highlight-container {
    width: 100%;
  }
  .highlight-grid__left-product {
    grid-row: 2;
  }
  .highlight-grid__right-product {
    grid-row: 1;
  }
  .highlight-grid::after {
    width: 70%;
    height: 1px;
    border-bottom: 1px solid var(--border);
  }
  .highlight-heading__title {
    font-size: 50px;
    line-height: 40px;
  }
  .highlight-heading__-subtitle {
    font-size: 12px;
  }
  .hightlight__product-img {
    width: 98px;
  }
  .hightlight__product-img-xl {
    width: 100px;
  }
  .highlight-grid__left-product,
  .highlight-grid__right-product {
    gap: 50px;
  }

  .highlight__product-title {
    font-size: 24px;
  }

  .highlight__product-title-details {
    gap: 30px;
    height: 500px;
  }
  .highlight__product-title-details > div {
    gap: 20px;
  }
  .highlight__product-details p,
  .highlight__product-details span {
    font-size: 13px;
  }

  .highlight__product-feature-icon {
    width: 25px;
    height: 30px;
  }
}

/* Desktop*/
@media (min-width: 993px) and (max-width: 1440px) {
  .highlight-heading__title {
    font-size: 60px;
  }

  .hightlight__product-img {
    width: 98px;
  }

  .hightlight__product-img-xl {
    width: 100px;
  }

  .highlight-grid__left-product,
  .highlight-grid__right-product {
    gap: 30px;
  }

  .highlight__product-title {
    font-size: 20px;
  }

  .highlight__product-details {
    gap: 25px;
  }

  .highlight__product-details p,
  .highlight__product-details span {
    font-size: 15px;
  }

  .highlight__product-feature-icon {
    width: 25px;
    height: 40px;
  }
}

/* Big Laptop */
@media (min-width: 1441px) {
  .highlight-grid::after {
    height: 40%;
    border-left: 1px solid var(--border);
  }
}

/* Small Screen */
@media (max-width: 320px) {
  section {
    padding: 20px 10px;
  }

  .highlight-container {
    width: 100%;
    gap: 10px;
  }

  .highlight-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 60px;
  }
  .highlight-grid__left-product {
    grid-row: 2;
  }
  .highlight-grid__right-product {
    grid-row: 1;
  }
  .highlight-grid::after {
    width: 70%;
    height: 1px;
    border-bottom: 1px solid var(--border);
  }

  .highlight-heading__title {
    font-size: 25px;
    line-height: 24px;
  }

  .highlight-heading__subtitle {
    font-size: 10px;
    line-height: 12px;
  }
  .highlight__product-feature-icon {
    width: 25px;
    height: 30px;
  }

  .hightlight__product-img {
    width: 70px;
    height: 339px;
  }

  .hightlight__product-img-xl {
    width: 70px;
    height: 500px;
  }

  .highlight-grid__left-product,
  .highlight-grid__right-product {
    gap: 15px;
  }

  .highlight__product-title {
    font-size: 16px;
  }
  .highlight__product-title-details > div {
    gap: 16px;
  }
  .highlight__product-title-details {
    padding-top: 0px;
    gap: 30px;
    height: 500px;
  }

  .product-highlight-price {
    gap: 16px;
  }

  .highlight__product-details p,
  .highlight__product-details span {
    font-size: 12px;
  }
}
